<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GymTracker</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>  
    <nav class="navbar">
        <div class="logo">
            GymTracker
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/plans">Workout Plans</a>
            <a href="/exercises">Exercises</a>
            <a href="/notes">Workout Notes</a>
        </div>
    </nav>
</body>